@charset "UTF-8";

/*-- Imports --*/
@import url(normalize.css);

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Universal
2.0 - CSS Variables
3.0 - Objects: class-based selectors
4.0 - Typography
        - Headlines
        - Text
        - Links
5.0 - Components
6.0 - Header
7.0 - Footer
8.0 - Sections
        - Hero
9.0 - Media Queries

/*--------------------------------------------------------------
    1.0 - Universal
-------------------------------------------------------------- */

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1.25rem;
}

/*--------------------------------------------------------------
    2.0 - CSS Variables
-------------------------------------------------------------- */
:root {
    --color-black: #000;
    --color-white: #fff;
    --padding: 2rem;
    --spacing: 5rem;
}

/*--------------------------------------------------------------
    3.0 - Objects: class-based selectors
-------------------------------------------------------------- */
.sr-only {
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.skip-to-main {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 1rem;
    height: 3rem;
    justify-content: center;
    margin-top: -3rem;
    text-decoration: none;
    transition: all .3s ease-out;
    width: 100%;
}

.skip-to-main:focus {
    margin-top: 0;
}

.skip-to-main:hover {
    background-color: darkslategray;
}

.flex {
    display: flex;
    gap: 20px;
}

.grid {
    display: grid;
    gap: 20px;
}

.row {}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
}

/*--------------------------------------------------------------
    4.0 - Typography
-------------------------------------------------------------- */
/* ----- Headlines ----- */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* ----- Text ----- */
p {
    font-size: 1rem;
}

/* ----- Links ----- */
a {}

a:hover,
a:focus,
a:active {}


/*--------------------------------------------------------------
    5.0 - Components
-------------------------------------------------------------- */
.btn {}

.btn:hover,
.btn:focus,
.btn:active {}

/*--------------------------------------------------------------
    6.0 - Header
-------------------------------------------------------------- */
header.site-header {}

/* ----- NAV ----- */
header.site-header nav {}

/*--------------------------------------------------------------
    7.0 - Footer
-------------------------------------------------------------- */
footer.site-footer {}

/*--------------------------------------------------------------
    8.0 - Sections
-------------------------------------------------------------- */
/* ----- HERO ----- */
.hero {}

/*--------------------------------------------------------------
    9.0 - Media Queries
-------------------------------------------------------------- */